* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 480px) {
  .Container {
    width: 327px;
    height: 543px;
    border-radius: 15px;
    background-color: #15263f;
    display: block;
  }
}

body {
  width: 1440px;
  height: 900px;
  background-color: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  width: 350px;
  height: 596px;
  border-radius: 15px;
  background-color: #15263f;
  display: block;
}

.Container a {
  text-decoration: none;
}

.NFT-Image {
  width: 302px;
  height: 302px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.NFT-View-Link:hover .NFT-View {
  opacity: 1;
}

.NFT-View-Link:hover .NFT-image {
  background-color: #00fff8;
}

.NFT-View {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  top: 303px;
  left: 696px;
  position: absolute;
  opacity: 0;
}

.Equilibrium-Text h1 {
  font-family: Outfit;
  font-weight: 600;
  font-size: 22px;
  line-height: 27.72px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Equilibrium-Text p {
  font-weight: Outfit;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  color: #8bacd9;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.Etherium-Clock {
  margin-bottom: 20px;
}

.Etherium-Image {
  width: 11px;
  height: 18px;
  color: #00fff8;
  display: inline-block;
  margin-left: 24px;
}

.Etherium-Text {
  font-family: Outfit;
  font-weight: 600;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  color: #00fff8;
  display: inline-block;
  margin-right: 45px;
}

.Clock-Image {
  width: 16px;
  height: 16px;
  color: #8bacd9;
  display: inline-block;
  margin-left: 45px;
}

.Clock-Text {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  color: #8bacd9;
  display: inline-block;
  margin-right: 24px;
}

.line {
  background-color: #2e405a;
  width: 302px;
  height: 1px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 10px;
}

.Footer-Content {
  width: 400px;
  height: 100px;
  text-align: left;
}

.Author-Image {
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
}

.Footer-Text p {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  display: inline-block;
  margin-left: 70px;
  margin-top: 12px;
  color: #8bacd9;
}

.Footer-Text a {
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 1px;
  display: inline-block;
  color: #ffffff;
}
